body{
    margin: 0;
    display: grid;
    grid-template-areas: 'nav nav nav nav'
                            'header header header header'
                            'section section section section'
                            'footer footer footer footer';

    grid-template-rows: 40vh 40vh 40vh 40vh;
    grid-template-columns: 25% 25% 25% 25%;
}

nav{
    grid-area: nav;
    background-color: blueviolet;

}
nav  #mobile {
    height:100%;
    width:100%;
    display:flex;
    align-items:center;
    justify-content:center;
}

nav #desktop{
    height:100%;
    width:100%;
    display:none;
    align-items:center;
    justify-content:space-around;

}

nav #desktop a{
    text-decoration:none;
    font-size:20pt;
    font-weight: 700;
    color: black;
}

header{
    grid-area: header;
    background-image:url(aussie-fries.jpg);
    background-size: cover;
    background-position:center;
    display:flex;
    align-items:center;
    justify-content:center;
}



header h1{
        font-size: 40pt;        
        color: palevioletred;
        font-weight: 900;

}

section{
    grid-area: section;
    background-color: limegreen;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 30px;
}

section p{
    color:black;
    font-size:20px;
}

footer{
        grid-area: footer;
        background-color: yellow;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
}

footer aside {
    display: none;
}

footer div{
    width: 200px;
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

footer div a {
    cursor: pointer;
}




@media(min-width:786px){
    body{
        grid-template-areas: 
                            'nav nav nav nav'
                            'header header section section'
                            'header header section section'
                            'footer footer footer footer';
    }
    nav #desktop{
        display: flex;
    }
    
    nav #mobile{
        display: none;
    }
}

@media(min-width:1024px){
    body{
        grid-template-areas: 
                             'nav nav section section'
                              'nav nav section section'
                              'header header footer footer'
                             'header header footer footer';
    }
    footer aside{
        display: block;
    }
}